*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.container{
    /* width: 1200px; */
    margin: 0 auto;
}

/* INICIO DAS CONFIGURAÇÕES DO HEADER */
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C5EBAA;
    height: 100px;
}

header h1 a:link{
    color: #000;
    text-decoration: none;
}

header h1 a:hover{
    color: #000;
    text-decoration: none;
}

header h1 a:visited{
    color: #000;
    text-decoration: none;
}

.main-header h1{
    margin-left: 50px;
    font-size: 34px;
    font-family: Irish Grover;
}

nav{
    display: flex;
    gap: 23px;
    padding-right: 40px;
}

nav select{
    border: none;
    border-radius: 20px;
    background-color: #C5EBAA;
    font-size: 28px;
}

nav select:hover{
    padding: 4px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: -2.5px -1.5px 1.5px 1.5px #00000034;
    cursor: pointer;
}

nav option{
    border-radius: 20px;
    border: none;
    /* display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 264px; */
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}


nav a:hover{
    padding: 4px;
    border-radius: 10px;
    /* border: 2px solid #fff; */
    box-shadow: 1.5px 0.5px -2.5px -5.5px #00000034;
    cursor: pointer;
}


/* FIM DAS CONFIGURAÇÕES DO HEADER */


/* INICIO DAS OPÇOES DO CARDAPIO */
.tipos-da-comida{
    display: grid;
    margin: 50px;
    margin-bottom: 100px;
    grid-template-columns: 1fr 400px;
    justify-content: center;
    align-content: center;

    align-items: center;
    justify-items: center;
    /* gap: 75px; */
}


section h3{
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 40px;
    /* margin-bottom: 50px; */
}

.box-do-conjuto-comidas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 80px;
    column-gap: 100px;
}

.box-de-comida--1,.box-de-comida--2,.box-de-comida--3,.box-de-comida--4,.box-de-comida--5,.box-de-comida--6,.box-de-comida--7,.box-de-comida--8{
    /* background-color: #D9D9D9; */
    /* border: 3px solid #000; */
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.box-de-comida--1:hover,
.box-de-comida--2:hover,
.box-de-comida--3:hover,
.box-de-comida--4:hover,
.box-de-comida--5:hover, 
.box-de-comida--6:hover,
.box-de-comida--7:hover,
.box-de-comida--8:hover{
    padding: 4px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: -1.5px 0.5px 15px 1.5px #0000005b;
    cursor: pointer;
}




/* FIM DAS OPÇOES DO CARDAPIO */



/* INICIO DAS CONFIGURAÇÕES DOS COMBOS */


aside{
    border-top: 4px solid #FFD6A5;
    border-bottom: 4px solid #FFD6A5;
    background-color: #f6f19380;
    padding: 50px 40px;
}

aside h4{
    font-size: 30px;
    text-align: center;
    color: #444;
    margin-bottom: 10px;
}

aside ul{
    list-style: none;
    margin: 10px;
    margin-left: 0px;
}


.box-dos-combos{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

li{
    font-size: 17px;
}

li div {
    display: grid;
    color: #000;
    text-decoration: none;
}

ul a:link{
    text-decoration: none;
}

ul li:hover{
    border: 2px solid #fff;
    box-shadow: -1.5px 0.5px 15px 1.5px #0000005b;
    border-radius: 10px;
}

aside img{
    border-radius: 5px;
}


/* FIM DAS CONFIGURAÇÕES DOS COMBOS */




/* INICIO DAS CONFIGURAÇÕES DO FOOTER */

/* aqui eu define a altura e a cor do footer */
footer{
    background-color: #C5EBAA;
    height: 150px;
}

/* esse div foi necessario para organizar melhor os objetos de informação */
.box-das-informações{
    /* margin: 8px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* esse div foi necessario para a separação coerente e correta dos objetos */
.barra-de-informacoes{
    margin-top: 30px;
    gap: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barra-de-informacoes strong{
    font-size: 25px;
}


/* INICIO CONFIGURAÇÕES DO DIV DE LOCALIZAÇÃO */
.localizacao{
    margin-top: 10px;
}

.localizacao em{
    display: flex;
    font-size: 16px;
}


.localizacao a:link{ 
    color: #000;
    text-decoration: none;
    /* align-self: flex-start; */
}

.localizacao a:hover{
    text-decoration: underline solid #000;
}

.localizacao a:visited{ 
    color: #000;
    text-decoration: none;
}

/* FIM CONFIGURAÇÕES DO DIV DE LOCALIZAÇÃO */





/* INICIO CONFIGURAÇÕES DO DIV DE MIDIA */
.midia strong{
    padding-left: 20px;
}

.midia div{
    display: flex;
    margin: 10px;
    gap: 15px;
}

.facebook, .insta{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.midia a:hover{
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: -1.5px -0.5px 1.5px 1.5px #00000034;
}

/* FIM CONFIGURAÇÕES DO DIV DE MIDIA */





/* INICIO CONFIGURAÇÕES DO DIV DE CONTATO */

.contato strong{
    padding-left: 20px;
}

.contato em{
    margin-top: 5px;
    color: #000000d5;
    font-size: 20px;
}
/* FIM CONFIGURAÇÕES DO DIV DE CONTATO */




/* FIM DAS CONFIGURAÇÕES DO FOOTER */