*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.container{
    /* width: 1200px; */
    margin: 0 auto;
}

/* INICIO DAS CONFIGURAÇÕES DO HEADER PRINCIPAL */
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C5EBAA;
    height: 100px;
}

.logo{
    display: flex;
    margin-left: 20px;
}

header h1 a:link{
    color: #000;
    text-decoration: none;
}

header h1 a:hover{
    color: #000;
    text-decoration: none;
}

header h1 a:visited{
    color: #000;
    text-decoration: none;
}

.main-header h1{
    margin-left: 5px;
    font-size: 34px;
    font-family: Irish Grover;
}

.cabecalho-principal{
    display: flex;
    gap: 23px;
    padding-right: 40px;
}

.cabecalho-principal select{
    border: none;
    border-radius: 20px;
    background-color: #C5EBAA;
    font-size: 28px;
}

.cabecalho-principal select:hover{
    padding: 4px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: -2.5px -1.5px 1.5px 1.5px #00000034;
    cursor: pointer;
}

.cabecalho-principal option{
    border-radius: 20px;
    border: none;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.cabecalho-principal a:hover{
    padding: 4px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: -1.5px -0.5px 1.5px 1.5px #00000034;
    cursor: pointer;
}


/* FIM DAS CONFIGURAÇÕES DO HEADER PRINCIPAL */

/* INICIO DAS CONFIGURAÇÕES DO SUB HEADER */
.sub-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C5EBAA;
    height: 50px;

    border-radius: 0 0 50px 50px;
}

.cabecalho-secundario{
    display: flex;
    gap: 23px;
}

.cabecalho-secundario a{
    font-size: 20px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.cabecalho-secundario a:link{
    color: #000;
    text-decoration: none;
}

.cabecalho-secundario a:hover{
    font-size: 22px;
    color: #fff;
    text-decoration: underline;
}

.cabecalho-secundario a:visited{
    color: #000;
    text-decoration: none;
}
/* FIM DAS CONFIGURAÇÕES DO SUB HEADER */

/* INICIO DAS CONFIGURAÇÕES DA IMAGEM */

.apresentacao-da-comida{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao-da-comida img{
    height: 30%;
    width: auto;
    border-radius: 10px;
}

/* FIM DAS CONFIGURAÇÕES DA IMAGEM */

/* INICIO DAS CONFIGURAÇÕES DE APRESENTAÇÃO DA COMIDA */

.box-apresentacao-do-prato{
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.detalhes-do-prato h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-bottom: 20px;
}

.box-apresentacao-do-prato p{
    font-size: 20px;
}

.preco {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* FIM DAS CONFIGURAÇÕES DE APRESENTAÇÃO DA COMIDA */


/* INICIO DE LISTAGEM DE ADIÇÃO OU RETIRADA DE PRODUTOS */

.box-de-selecao-de-produtos{
    border-top: 1px solid #000;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: start;
    column-gap: 50px;
    row-gap: 20px;
}

.box-de-adicionar{
    margin-top: 10px;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1/2;
    grid-row: 1/2;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-de-remover{
    margin-top: 10px;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 2/3;
    grid-row: 1/2;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo-adicionar{
    font-size: 30px;
    margin: 10px;
}

.adicionar ul{
    display: grid;
    list-style: none;
    padding-left: 20px;
    font-size: 22px;
    margin-top: 10px;

    border: 1px solid #000;
    align-items: center;
    justify-items: start;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto,1fr);
    line-height: 2.5;
}

label input, label span{
    cursor: pointer;
}

label input:checked+span{
    text-decoration: underline;
}

.remover ul{
    display: grid;
    list-style: none;
    padding-left: 20px;
    font-size: 22px;
    margin-top: 10px;

    border: 1px solid #000;
    align-items: center;
    justify-items: start;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto,1fr);
    line-height: 2.5;
}

.titulo-remover{
    font-size: 30px;
    margin: 10px;
}

.box-de-texto{
    margin-top: 20px;
}

.box-de-texto span{
    font-size: 20px;
}

.box-de-texto input{
    width: 600px;
    height: 50px;
}

/* FIM DAS CONFIGURAÇÕES DE LISTAGEM DE ADIÇÃO OU RETIRADA DE PRODUTOS */



/* INICIO DAS CONFIGURAÇÕES DO BOTAO PARA O CARDAPIO */

.carrinho{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 50px;
}

.box-de-mandar-para-carrinho{
    /* margin-top: 700px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);

    
    column-gap: 10px;
}

.box-cancelar button{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}

.box-continuar button{
    background-color: #F2C18D;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}

.box-cancelar button:hover{
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    box-shadow: -0.1px 0.5px 0.5px 2.5px #00000034;
    cursor: pointer;
}

.box-continuar button:hover{
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #000;
    color: #fff;
    box-shadow: -0.1px 0.5px 0.5px 2.5px #00000034;
    cursor: pointer;
}

/* FIM DAS CONFIGURAÇÕES DO BOTAO PARA O CARDAPIO */


/* INICIO DAS CONFIGURAÇÕES DO FOOTER */

/* aqui eu define a altura e a cor do footer */
footer{
    background-color: #C5EBAA;
    height: 100px;
}

/* esse div foi necessario para organizar melhor os objetos de informação */
.box-das-informações{
    padding-top: 10px;
    margin: 28px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    /* gap: auto; */

    align-items: center;
    justify-items: center;
}

.barra-de-informacoes strong{
    font-size: 25px;
}


/* INICIO CONFIGURAÇÕES DO DIV DE LOCALIZAÇÃO */
.localizacao{
    margin-top: 10px;
}

.localizacao em{
    display: flex;
    font-size: auto;
}


.localizacao a:link{ 
    color: #000;
    text-decoration: none;
    /* align-self: flex-start; */
}

.localizacao a:hover{
    text-decoration: underline solid #000;
}

.localizacao a:visited{ 
    color: #000;
    text-decoration: none;
}

/* FIM CONFIGURAÇÕES DO DIV DE LOCALIZAÇÃO */





/* INICIO CONFIGURAÇÕES DO DIV DE MIDIA */
.midia strong{
    padding-left: 20px;
}

.midia div{
    display: flex;
    margin: 10px;
    gap: 15px;
}

.facebook, .insta{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.midia a:hover{
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: -1.5px -0.5px 1.5px 1.5px #00000034;
}

/* FIM CONFIGURAÇÕES DO DIV DE MIDIA */





/* INICIO CONFIGURAÇÕES DO DIV DE CONTATO */
.contato{
    padding-left: 60%;
}

.contato strong{
    padding-left: 20px;
}

.contato em{
    margin-top: 5px;
    color: #000000d5;
    font-size: 20px;
}
/* FIM CONFIGURAÇÕES DO DIV DE CONTATO */




/* FIM DAS CONFIGURAÇÕES DO FOOTER */