*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.container{
    /* width: 1200px; */
    margin: 0 auto;
    height: 800px;
}

/* INICIO DAS CONFIGURAÇÕES DO HEADER PRINCIPAL */
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C5EBAA;
    height: 100px;
    border-radius: 0 0 30px 30px;
}

.logo{
    display: flex;
    margin-left: 20px;
}

header h1 a:link{
    color: #000;
    text-decoration: none;
}

header h1 a:hover{
    color: #000;
    text-decoration: none;
}

header h1 a:visited{
    color: #000;
    text-decoration: none;
}

.main-header h1{
    margin-left: 5px;
    font-size: 34px;
    font-family: Irish Grover;
}

.cabecalho-principal{
    display: flex;
    gap: 23px;
    padding-right: 40px;
}

.cabecalho-principal a{
    font-size: 20px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.cabecalho-principal a:link{
    color: #000;
    text-decoration: none;
}

.cabecalho-principal a:hover{
    font-size: 22px;
    color: #000;
    text-decoration: underline;
}

.cabecalho-principal a:visited{
    color: #000;
    text-decoration: none;
}


/* FIM DAS CONFIGURAÇÕES DO HEADER PRINCIPAL */

.cadastro{
    margin: 50px;
    height: auto;

}

.cadastro-da-localizacao{
    margin: 50px;
    padding: 10px;
    height: auto;

    
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);

    border-bottom: 2px dotted #000;
    border-radius: 5px;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}



.cadastro-de-endereco{
    /* height: auto; */
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
    display: grid;
    align-items: end;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.cadastro-de-dados-pessoais{
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.cadastro-de-endereco h3,
.cadastro-de-dados-pessoais h3{
    margin-left: 40px;
    margin-bottom: 10px;
    grid-column: 1/3;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#cidade,
#bairro,
#endereco,
#numero,
#cep,
#informacoes,
#complemento{
    border: none;
    border-bottom: 1px solid #000;
}

.cidade,
.bairro,
.endereco,
.numero,
.cep,
.informacoes,
.complemento{
    /* display: flex; */
    
    /* justify-content: flex-start; */
    width: auto;
    height: 60px;
    font-weight: bold;
    padding-right: 10px;
}

#nome,
#celular,
#email,
#cpf{
    border: none;
    border-bottom: 1px solid #000;
}

.nome,
.celular,
.email,
.cpf{
    height: 60px;
    font-weight: bold;
}

.cadastro-de-pagamento{
    margin: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.titulo-do-cadastro{
    margin: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.pix,
.dinheiro{
    font-weight: bold;
    padding-right: 10px;
}

.finalizacao-da-compra{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    height: 100px;
    border-top: 2px solid #000;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.finalizacao-da-compra h3{
    font-size: 40px;
}

.texto-span{
    font-size: 22px;
    color: #000000bb;
}

.valor-final{
    font-size: 30px;
    border-left: 1 solid #000;
}

.btn-finalizar-pedido{
    background-color: #F2C18D;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    border: none;
    box-shadow: -1.5px 1.5px 1.5px 1.5px #00000034;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.btn-finalizar-pedido:hover{
    color: #fff;
}

/* INICIO DAS CONFIGURAÇÕES DO FOOTER */

/* aqui eu define a altura e a cor do footer */
footer{
    background-color: #C5EBAA;
    height: 100px;
}

/* esse div foi necessario para organizar melhor os objetos de informação */
.box-das-informações{
    padding-top: 10px;
    margin: 28px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    /* gap: auto; */

    align-items: center;
    justify-items: center;
}

.barra-de-informacoes strong{
    font-size: 25px;
}


/* INICIO CONFIGURAÇÕES DO DIV DE LOCALIZAÇÃO */
.localizacao{
    margin-top: 10px;
}

.localizacao em{
    display: flex;
    font-size: auto;
}


.localizacao a:link{ 
    color: #000;
    text-decoration: none;
    /* align-self: flex-start; */
}

.localizacao a:hover{
    text-decoration: underline solid #000;
}

.localizacao a:visited{ 
    color: #000;
    text-decoration: none;
}

/* FIM CONFIGURAÇÕES DO DIV DE LOCALIZAÇÃO */





/* INICIO CONFIGURAÇÕES DO DIV DE MIDIA */
.midia strong{
    padding-left: 20px;
}

.midia div{
    display: flex;
    margin: 10px;
    gap: 15px;
}

.facebook, .insta{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.midia a:hover{
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: -1.5px -0.5px 1.5px 1.5px #00000034;
}

/* FIM CONFIGURAÇÕES DO DIV DE MIDIA */





/* INICIO CONFIGURAÇÕES DO DIV DE CONTATO */
.contato{
    padding-left: 60%;
}

.contato strong{
    padding-left: 20px;
}

.contato em{
    margin-top: 5px;
    color: #000000d5;
    font-size: 20px;
}
/* FIM CONFIGURAÇÕES DO DIV DE CONTATO */




/* FIM DAS CONFIGURAÇÕES DO FOOTER */